body.p-channel{
    padding-top:@header-height;
    color:@color;
}
a{
    color:@color-link;
}

hr{
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}

// 面包屑
@bread-height:48px;
.c-breadcrumb {
    .pf;top:@header-height;
    .z(500);.w(100%);
    .h(@bread-height);
    // background-color: @bg-light;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    .lh(28px);
    border-bottom: 1px solid @border-hr;

    .u-channel {
        .fl;
        span {
            .bold;
            // .fz(16px);
            // font-weight: 300;
            color: @color;
        }
        .mr(30px);
    }
    .u-channel-logo {
        .fl;
        .size(28px);
        .mr(10px);
        fill: @bg-black;
    }
    
    .u-publish {
        .pa;.rt(8px,8px);
        padding: 8px 18px;
    }
}
@media screen and (max-width:@ipad){
    .c-breadcrumb{
        .u-publish{.none;}
    }
}

// 左侧边
@aside-left:320px;
.c-sidebar-left{
    .w(@aside-left);
    box-sizing:border-box;
    padding:10px;
    .pf;
    left:0;
    top:@header-height + @bread-height;
    bottom:0;
    background-color:@bg-light;
    border-right:1px solid #eee;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track,&::-webkit-scrollbar-track-piece {
        background-color: #fafafa;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-button,&::-webkit-scrollbar-corner,&::-webkit-resizer {
        display: none;
    }
    
}

// 主体
.c-main{
    .ml(@aside-left);
    .mr(@aside-right);
    .pr;
    min-height: calc(100vh - @header-height - @bread-height);
    margin-top:@bread-height;
}
.c-main.without-right{
    .mr(0) !important;
}

// 右侧边
@aside-right:280px;
.c-sidebar-right{
    .pa;
    .lt(100%,0);
    .w(@aside-right);
    background-color:#fff;
    border-left:1px solid #eee;
    height:100%;
    box-sizing: border-box;
}

// 笔记本<1440 缩小双边栏
@media screen and (max-width:@notebook){
    .c-sidebar-left{
        .w(@aside-left - 40px);
    }
    .c-sidebar-right{
        .w(@aside-right - 20px);
    }
    .c-main{
        .ml(@aside-left - 40px);
        .mr(@aside-right - 20px);
    }
}

// 平板横屏
@media screen and (max-width:@ipad){
    .c-sidebar-left{
        .w(@aside-left - 60px);
    }
    .c-sidebar-right{
        .ps;
        .w(auto);
        border-left:none;
    }
    .c-main{
        .ml(@aside-left - 60px);
        .mr(0);
    }
}

//平板横屏与手机
@media screen and (max-width:@ipad-y){
    .c-sidebar-left{
        .pf;
        .z(500);
        transition: 0.2s ease-in-out;
        transform:translateX(-100%);
        &.isopen{
            transform:translateX(0);
            box-shadow: 0 5px 5px rgba(0,0,0,.2);
        }
    }
    .c-main{
        .ml(0);
    }
    .c-breadcrumb {
        .u-channel-logo{
            .none;
        }
        padding-left:40px;
    }
}