body{
    margin:0;
    padding:0;
    font-family: -apple-system, "Microsoft YaHei", Trebuchet MS, Calibri,
        BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    background-color:#fff;
}
a{
    text-decoration:none;
}
hr{
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}
svg{
    outline:none;
}
textarea{
    font-family: inherit;
}
img{
    max-width:100%;
}
* {
    outline : none;
}