html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}
/* 顶部回弹露出的颜色 */
body::before,
body::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 50vh; /* 够大：回弹再狠也不露白 */
    z-index: -1; /* 放到页面内容后面 */
    pointer-events: none;
}
a {
    text-decoration: none;
}
hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}
textarea {
    font-family: inherit;
}
img {
    max-width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
* {
    outline: none;
}
