// 图片路径
@root:'https://console.cnyixun.com/';
@url:'https://console.cnyixun.com/img/';
@image:'https://console.cnyixun.com/image/';
@font:'https://console.cnyixun.com/img/font/';
@pic:'https://console.cnyixun.com/pic/';

// 颜色
@color:#3d454d;
@primary:#0366d6;
@bg-black:#24292e;
@bg-gray:#f6f8fa;
@bg-light:#fafbfc;
@color-link:#0366d6;
@border-hr:#e1e4e8;
@pink :#f39;
@blue : #409eff;
@darkblue : #359;
@grayblue : #7e93ac;
@border:#E4E7ED;
@purple:#6f42c1;

// 头部
@header-height:64px;
@logo-size:32px;
@bread-height:48px;
// 左侧边
@aside-left:320px;
// 右侧边
@aside-right:280px;
// 适配
@smallpc:1680px;   //21寸显示器
@notebook:1440px;   //笔记本电脑
@mininote:1280px;   //小屏笔记本
@ipad:1133px;     //平板，适配到8.3mini6
@ipad-y:1023px;         //竖屏
@game:780px;    //游戏内嵌
@phone:720px;    //手机
@ip5:374px;     //iphone5超小屏

.underline(@color:@color-link){
    &:hover{
        box-shadow:0 1px 0 @color;
    }
}