// 路径
@img: "https://img.jx3box.com/";
@cdn: "https://cdn.jx3box.com/";
@img: "https://cdn.jx3box.com/img/";
@image: "https://cdn.jx3box.com/image/";
@pic: "https://cdn.jx3box.com/pic/";
@font: "https://cdn.jx3box.com/img/font/";

// 配色·旧
@color: #3d454d;
@primary: #0366d6;
@bg-black: #24292e;
@bg-gray: #f6f8fa;
@bg-light: #fafbfc;
@color-link: #0366d6;
@border-hr: #e1e4e8;
@pink: #f39;
@light-pink: #f9afd4;
@blue: #409eff;
@darkblue: #359;
@grayblue: #7e93ac;
@border: #e4e7ed;
@purple: #6f42c1;

// 配色·v4
@v4primary: #4f46e5;
@v4primary-bg: #7d86fb;
@v4primary-dark: #4b3bed;
@v4font: #4338ca;
@v4primary500: #615fff;

@v4border: #c7d2fe;
@v4bg: #f2f5ff;

@v4text: #4f667d;
@v4tip: #989cb1;

@v4focus: #efb23e;
@v4orange: #ec9c0f;
@v4yellow: #f5bd1e;

// 布局（全局公共组件）
@header-height: 60px;
@header-logo-size: 32px;
@header-bg: #242424;
@bread-height: 48px;

@aside-left: 320px;
@aside-right: 280px;

@footer-bg: #121827;

// 适配
@4k: 3840px;
@2k: 2560px;
@pc: 1920px;
@smallpc: 1680px; //21寸显示器
@notebook: 1440px; //笔记本电脑
@mininote: 1280px; //小屏笔记本
@ipad: 1133px; //平板，适配到8.3mini6
@ipad-y: 1023px; //竖屏
@game: 780px; //游戏内嵌
@phone: 720px; //手机
@ip5: 374px; //iphone5超小屏


