// 图片路径
@url:'https://console.cnyixun.com/img/';
@image:'https://console.cnyixun.com/image/';
@font:'https://console.cnyixun.com/img/font/';

// 颜色
@color:#3d454d;
@primary:#409EFF;
@bg-black:#24292e;
@bg-gray:#f6f8fa;
@bg-light:#fafbfc;
@color-link:#0366d6;
@border-hr:#e1e4e8;

// 头部
@header-height:64px;
@logo-size:32px;
@bread-height:48px;
// 左侧边
@aside-left:320px;
// 右侧边
@aside-right:280px;
// 适配
@notebook:1439px;   //笔记本电脑
@ipad:1024px;     //平板
@ipad-y:1023px;         //竖屏
@phone:767px;    //手机
@ip5:374px;     //iphone5超小屏

body{
    margin:0;
    padding:0;
    font-family: -apple-system, "Microsoft YaHei", Trebuchet MS, Calibri,
        BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, sans-serif;
    text-rendering: optimizelegibility;
}
a{
    text-decoration:none;
}
hr{
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}
.underline(@color:@color-link){
    &:hover{
        box-shadow:0 1px 0 @color;
    }
}
svg{
    outline:none;
}