name: Node.js Package

on: [push]

# on:
#   release:
#     types: [created]

jobs:

  publish-npm:
    # needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      # - run: npm ci
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  publish-gpr:
    # needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@jx3box'
      # - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
  
      - name: OSS
        uses: manyuanrong/setup-ossutil@v2.0
        with:
          endpoint: "oss-cn-hangzhou.aliyuncs.com"
          access-key-id: ${{secrets.AccessKey_ID}}
          access-key-secret: ${{secrets.Access_Key_Secret}}
      - run: ossutil cp -rf data oss://jx3box/data/global
      - run: ossutil cp -rf js oss://jx3box/static/jx3box-common/js
      - run: ossutil cp -rf css oss://jx3box/static/jx3box-common/css
      - run: ossutil cp -rf css oss://jx3box-www/jx3box-common/css
